
/* --Line-- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------Header+Nav--------------------------------- */
/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */


/* ---HomePage--- */
.box-content {padding: 100px 0;}
.box-content .heading{margin-bottom: 30px; text-align: center;}
.box-content .heading h2{font-size: 45px;letter-spacing:2px;}
.box-content .heading .intro{margin-bottom: 75px;font-family: 'Shadows Into Light', cursive;font-size:22px;font-style: italic;}

.box-content.box-style {background-attachment:fixed; background-image: url(../images/bg-1.jpg); background-color: #222;color:#fff;}
#page-top {
	
	height:550px;
	border-bottom:5px solid green;
	
}
/* ---------------------------------------------------------------------------- */
/* ------------------------------Services(box-1)------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* --------------------------------New(box-2)---------------------------------- */
/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
/* ------------------------------About(box-3)---------------------------------- */
/* ---------------------------------------------------------------------------- */
